<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test name="Test">
    <classes>
      <class name="com.incito.appium.testcase.AndroidContactsTest"/>
    </classes>
  </test> <!-- Test -->
  	  <listeners>
	  <!-- 网易arrow插件实现用例失败重跑以及生成测试报告 -->
			<listener class-name="com.incito.appium.util.TestResultListener" />
			<listener class-name="com.netease.qa.testng.RetryListener" />
			<listener class-name="com.netease.qa.testng.PowerEmailableReporter" />
	</listeners>
</suite> <!-- Suite -->
